HOST=0.0.0.0
PORT=1337
APP_KEYS=zgXmiCJZcmsVYAAIlocnHg==,YYcWkQe6Jgjfq+kNWKx7Xg==,ideg8FZnn0eR1gJ1FkdyfA==,PU07SDA2KnQKQfGV299mWA==
JWT_SECRET=0fbc3f39-21e5-4a56-90ac-55315d7f11b2
API_TOKEN_SALT=a0e47a378ec297e76bbcf1d5e983ad17
CLOUDINARY_NAME=medlux-qkit
CLOUDINARY_KEY=514728173667619
CLOUDINARY_SECRET=AR0mzZ3UIhCGOpZFplHsvgkTgN0
