.auth-bg {
  background-image: url("../../../assets/images/auth-bg.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.auth-container {
  // padding: 20px 5rem;
}
